In [14]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [15]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Maumere,ID,2022-03-26 20:47:37,-8.6199,122.2111,78.93,83,89,4.27
1,1,Miandrivazo,MG,2022-03-26 20:47:37,-19.5167,45.4667,77.36,92,34,2.77
2,2,Kavaratti,IN,2022-03-26 20:47:38,10.5669,72.6420,81.68,71,1,3.62
3,3,Nouadhibou,MR,2022-03-26 20:47:38,20.9310,-17.0347,64.38,88,0,12.66
4,4,Cape Town,ZA,2022-03-26 20:43:50,-33.9258,18.4232,65.26,68,0,10.36

In [16]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [17]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [18]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [23]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Maumere,ID,2022-03-26 20:47:37,-8.6199,122.2111,78.93,83,89,4.27
1,1,Miandrivazo,MG,2022-03-26 20:47:37,-19.5167,45.4667,77.36,92,34,2.77
2,2,Kavaratti,IN,2022-03-26 20:47:38,10.5669,72.6420,81.68,71,1,3.62
5,5,Puerto Ayora,EC,2022-03-26 20:47:39,-0.7393,-90.3518,80.56,76,51,9.15
7,7,Vaini,TO,2022-03-26 20:47:39,-21.2000,-175.2000,78.96,73,40,8.05
8,8,Kloulklubed,PW,2022-03-26 20:47:40,7.0419,134.2556,79.30,80,100,13.98
9,9,Rikitea,PF,2022-03-26 20:47:41,-23.1203,-134.9692,79.18,73,4,13.11
10,10,Bubaque,GW,2022-03-26 20:45:08,11.2833,-15.8333,77.23,65,5,20.49
18,18,Georgetown,MY,2022-03-26 20:42:48,5.4112,100.3354,84.13,92,20,1.14
23,23,Avarua,CK,2022-03-26 20:43:45,-21.2078,-159.7750,80.65,83,40,11.50

In [24]:
preferred_cities_df.notnull().sum()

City_ID       181
City          181
Country       180
Date          181
Lat           181
Lng           181
Max Temp      181
Humidity      181
Cloudiness    181
Wind Speed    181
dtype: int64

In [25]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0        Maumere      ID     78.93  -8.6199  122.2111
1    Miandrivazo      MG     77.36 -19.5167   45.4667
2      Kavaratti      IN     81.68  10.5669   72.6420
5   Puerto Ayora      EC     80.56  -0.7393  -90.3518
7          Vaini      TO     78.96 -21.2000 -175.2000
8    Kloulklubed      PW     79.30   7.0419  134.2556
9        Rikitea      PF     79.18 -23.1203 -134.9692
10       Bubaque      GW     77.23  11.2833  -15.8333
18    Georgetown      MY     84.13   5.4112  100.3354
23        Avarua      CK     80.65 -21.2078 -159.7750

In [26]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [32]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
 # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Maumere,ID,78.93,-8.6199,122.2111,Sylvia Hotel
1,Miandrivazo,MG,77.36,-19.5167,45.4667,Hôtel Arc En Ciel Miandrivazo
2,Kavaratti,IN,81.68,10.5669,72.6420,Hotels in Lakshadweep Islands
5,Puerto Ayora,EC,80.56,-0.7393,-90.3518,Finch Bay Galapagos Hotel
7,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
8,Kloulklubed,PW,79.30,7.0419,134.2556,Storyboard Beach Resort
9,Rikitea,PF,79.18,-23.1203,-134.9692,People ThankYou
10,Bubaque,GW,77.23,11.2833,-15.8333,"Casa Dora, Bubaque"
18,Georgetown,MY,84.13,5.4112,100.3354,Cititel Penang
23,Avarua,CK,80.65,-21.2078,-159.7750,Paradise Inn

In [37]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]